/* Estilos Globais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilizando o Formulário */
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

form label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

form input:focus {
    border-color: #007BFF;
    outline: none;
    background-color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilizando a Tabela */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

td {
    font-size: 1em;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Botão de interação com os dados */
button[data-action="delete"] {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[data-action="delete"]:hover {
    background-color: #c82333;
}

/* Adaptabilidade para telas menores */
@media (max-width: 600px) {
    body {
        padding: 10px;
        height: auto;
    }

    form {
        max-width: 100%;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 0.9em;
    }
}
